.page-about--companyTable {

	@include respond(pc) {	
		padding: 16px 0 32px 0;
	}
}

.page-about--companyTable__col {
	

	@include respond(pc) {
		display: table;
		margin-top: 24px;
	}

	@include respond(xs) {
		margin-top: 16px;
	}
	
	&:first-child {
		margin-top: 0px;
	}
}

.page-about--companyTable__col__item {
	
	@include font-size(14);

	@include respond(pc) {
		display: table-cell;
	}

	&--ttl {
		@extend .page-about--companyTable__col__item;

		@include respond(pc) {
			width: 10em;
			padding: 8px 16px;
			background: $color-gray-f2;
		}

		@include respond(xs) {
			font-weight: bold;
			border-bottom: 1px solid $color-main;
		}

	}

	&--text {
		@extend .page-about--companyTable__col__item;

		@include respond(pc) {
			padding: 0 3.125%;
			line-height: 2;
			width: 86%;
		}

		@include respond(xs) {
			margin-top: 4px;
			@include font-size(12);
		}	
	}
}

.page-about--profile {

	@include respond(pc) {
		display: table;
	}
	
}

.page-about--profile__item {

	@include respond(pc) {
		display: table-cell;
		vertical-align: top;
	}
	

	&--img {
		@extend .page-about--profile__item;
		height: 120px;
		width: 120px;

		@include respond(xs) {
			@include center;
		}

		img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}
	}

	&--detail {
		@extend .page-about--profile__item;
		
		@include respond(pc) {
			padding-left: 48px;
		}
	}
}

.page-about--profile__item__ttl {
	margin-top: 0px;
	font-weight: bold;
	@include font-size(16);

	@include respond(xs) {
		text-align: center;
	}


}
.page-about--profile__item__subtext {
	@include font-size(12);
	color: $color-gray-a1;
	padding: 4px 0 8px;
}

.page-about--profile__item__text {
	line-height: 1.6;
	@include font-size(14);
	margin-top: 12px;
}