.page-price--item {
	width: 100%;
	
	@include respond(pc) {
		padding: 24px;
		margin-top: 8px;
		border: 1px solid $color-gray-f5;
		border-top: 2px solid $color-main;
	}

	@include respond(xs) {
		margin-top: 8px;
		padding: 16px 3.125%;
		background: $color-gray-f5;
	}
}


.page-price--item__text {
	font-weight: bold;
	@include font-size(14);

	@include respond(pc) {
		margin-top: 12px;
	}
	@include respond(xs) {
		margin-top: 4px;
	}

	&:first-child {
		margin-top: 0px;
	}	
}


.page-price--table {
	margin-top: 32px;
	padding-bottom: 16px;
}

.page-price--table__col {
	margin-top: 16px;
	display: table;

	&:first-child {
		margin-top: 0px;
	}
}

.page-price--table__item {
	display: table-cell;
	vertical-align: top;
	padding: 4px  16px;
	@include font-size(14);

	&--ttl {
		@extend .page-price--table__item;
		background: $color-main;
		font-weight: bold;
		text-align: center;
		color: #fff;
		vertical-align: middle;

		&--large {
			display: block;
			background: #fff;
			color: $color-gray-3;
			padding-left: 0px;
			padding-bottom: 8px;
			font-weight: bold;
			@include font-size(14);
		}
	}

	&--text {
		@extend .page-price--table__item;

		&--large {
			@extend .page-price--table__item--text;
			background: $color-gray-f2;
			margin-left: 8px;
			display: inline-block;
			margin-top: 8px;
		}

	}
}