@font-face{font-family:"IonIcons";src:url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");src:url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"),url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"),url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"),url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");font-weight:normal;font-style:normal}

.c-form {

    input[type="text"], input[type="tel"], input[type="email"], textarea {
        
        background: $color-gray-f2;
        border: 1px solid $color-gray-c;
        border-radius: 0;
        box-shadow: none;
        box-sizing: border-box;
        display: block;
        padding: calc(1.1em - 1px);
        @include css3(transition, all 1s);
        width: 100%;
        margin-top: 16px;
        color: #000;

        &:focus {
            background: $color-sub;

        }
    }

    textarea {
        height: 24rem;
    }
}

.c-form--label {
    @include font-size(16);
    color: #000;
}

.c-form--attention {
    margin-top: 8px;
    color: $color-accent--red;
    //opacity: 0;
    display: none;
    @include css3(transition, all .3s);

    &--show {
        display: block;
    }
}

.c-form--sampletext {
    margin-left: 16px;
    color: $color-gray-a1;
    @include font-size(12);
    opacity: 0;
    @include css3(transition, all .3s);

    &--show {
        opacity: 1;
    }
}

.c-form--select {

    &__ttl {
        @include font-size(16);
        font-weight: bold;
    }
}

.c-form--select__item {

    position: relative;
    margin-top: 16px;
    width: 100%;

    &:before {
        z-index: 1;
        position: absolute;
        right: 8px;
        top: 6px;
        content: "\f123";
        font-family: "IonIcons";
        line-height: 43px;
        color: $color-main;
        pointer-events: none;
        @include font-size(16);
    }

    select{
        text-indent: 0.01px;
        @include font-size(16);
        text-overflow: '';
        vertical-align: middle;
        padding: 6px 0;
        color: $color-main;
        width: 100%;
        font-weight: bold;
        border-bottom: 2px solid $color-main;

        option {
            background-color: #fff;
            padding: 8px;
            color: #333;
            @include font-size(14);
            font-weight: normal;
        }

    }

}

.c-form--tab {
    padding: 4px  1.125%;
    @include font-size(12);
    background: $color-main;
    color: #fff;
    line-height: 1;
    position: relative;
    top: -1px;
    margin-right: 4px;
    border-radius: 2px;

    &--required {
        @extend .c-form--tab;
    }

    &--any {
        @extend .c-form--tab;
        background: $color-gray-a1;
    }
}





