.c-link {

	&--small {
		@extend .c-link;
		@include font-size(12);
	}

	&--midium {
		@extend .c-link;
		@include font-size(14);
	}

	&--large {
		@extend .c-link;
		@include font-size(16);
	}

	> a {
		color: $color-link;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}