.c-list {

	&--category {
		
		li {
			margin-top: 5px;

			&:before {
				color: $color-gray-c;
				content: " > ";
				@include font-size(16);
				margin-right: 0px;
			}
		}

		a {
			@include font-size(12);
			color: $color-link;
		}
    

	}

	&--tag {

		li {
			display: inline-block;

			&:after {
				color: $color-gray-c;
				content: "ãƒ»";
			}
		}

		a {
			@include font-size(12);
			color: $color-link;
		}

	}

}