.c-overlay {
	background: rgba(0, 0, 0, .3);
	display: block;
	cursor: pointer;
	width: 100%;
	/*background: $color-accent--blue;*/
}


/*doc
---
title: c-overlay
name: c-overlay
category: object-component
---

## スクエア

```block

<p style="width:300px; height: 300px;" class="c-overlay"></p>

```
*/
