.c-pagetop {



	@include respond(pc) {
		position: relative;
		width: 68px;
		height: 68px;
		background-color: #fff;
		border: 1px solid $color-gray-f2;
		cursor: pointer;
	 }

	 @include respond(tb) {
		position: relative;
		width: 100%;
		height: 80px;
		background-color: #fff;
		border: 1px solid $color-gray-f2;
		border-left: none;
		border-right: none;
	 }

	 @include respond(xs) {
		position: relative;
		width: 100%;
		height: 40px;
		//background-color: #ff0000;
	 }
	 
	 &__item {
	 	@include respond(pc) {
	 		position: absolute;
	 		width: 18px;
	 		height: 18px;
	 		border: 3px solid #fff;
	 		border-top-color: $color-main;
	 		border-right-color: $color-main;
	 		top: 30px;
	 		left: 24px;
	 		@include css3(transform, rotate(-45deg));
	 	}

	 	@include respond(tb) {
	 		position: absolute;
	 		width: 30px;
	 		height: 30px;
	 		border: 3px solid $color-main;
	 		border-top-color: #fff;
	 		border-right-color: #fff;
	 		top: 38px;
	 		left: 50%;
	 		margin-left: -15px;
	 		@include css3(transform, rotate(135deg));
	 	}

	 	@include respond(xs) {
	 		position: absolute;
	 		width: 24px;
	 		height: 24px;
	 		border: 3px solid $color-main;
	 		border-top-color: #fff;
	 		border-right-color: #fff;
	 		top: 40px;
	 		left: 50%;
	 		margin-left: -12px;
	 		@include css3(transform, rotate(135deg));
	 	}
	 	 
	 }
}