#particles-js {

	display: none;

	@include respond(pc) {
		//@include gradient(#eff0fc, #fff, vertical);
		position: absolute;
		width: 100%;
		height: 90%;
		background-color: $color-gray-f0;
		background-image: url("");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		display: block;
		
	}
	
	&--secondary {
		@extend #particles-js;
		background: #fff;
		border-top: 1px solid $color-gray-c;
	}
}