.c-profile__inner {

    @include respond(pc) {
        display: table;
        margin-top: 32px;
    }

    @include respond(tb) {
        display: table;
        margin-top: 32px;
    }

    @include respond(xs) {
        text-align: center;
    }
}


.c-profile__inner__item {

    @include respond(pc) {
        display: table-cell;
    }

    @include respond(tb) {
        display: table-cell;
    }

    &--img {
        @extend .c-profile__inner__item;
        width: 140px;
        height: 140px;

        img {
            
            width: 100%;
            height: 100%;
            @include css3(border-radius,50%);
            
        }

        @include respond(xs) {
            text-align: center;
            @include center;
        }
        
    }

    &--detail {
        @extend .c-profile__inner__item;
        text-align: left;
        
        @include respond(pc) {
            padding-left: 48px;
        }

        @include respond(tb) {
            padding-left: 3.125%;
        }

        @include respond(xs) {
            margin-top: 16px;
        }
        
    }
}


.c-profile__inner__item__ttl {
    font-weight: bold;
    @include font-size(16);
    
    @include respond(xs) {
        text-align: center;
    }

}

.c-profile__inner__item__text {
    margin-top: 16px;
    @include font-size(16); 
    
    @include respond(pc) {
         line-height: 2;
    }

   
    
    @include respond(xs) {
        text-align: left;
        @include widtnPercent( 640, 640 );
        @include center;
        
    }
    

}

.c-profile__inner__item__subtext {
    @include font-size(13);
    color: $color-gray-a1; 
    margin-top: 4px;
    
    @include respond(xs) {
        @include widtnPercent( 640, 640 );
        @include center;
        text-align: left;
        margin-top: 4px;
    }
    
    
}