.c-square {
	height: 40%;
	width: 13px;
	@include gradient(#6950ff, #6affda, vertical);
	/*background: $color-accent--blue;*/
	display: inline-block;
	
	&--primary {
		@extend .c-square;
	}

	&--secondary {
		@extend .c-square;
		@include gradient(#33b251, #a6ff54, vertical);
	}

	&--tertiary {
		@extend .c-square;
		@include gradient(#3115e0, #ef53ce, vertical);
	}

	&--quaternary {
		@extend .c-square;
		@include gradient($color-accent--red, #FFF255, vertical);
	}
}
