.c-tab {

	> li {

		text-align: center;
		
		@include respond(xs) {
			//text-align: right;
		}

		a {
			display: inline-block;
			text-align: center;
			background: $color-accent--green;
			padding: 8px 24px;
			@include font-size(12);
			color: #fff;
			font-weight: bold;
			

			@include respond(xs) {
				padding: 12px 24px;
				@include font-size(12);
				color: #fff;
			}
		}
		
	}

}
