.c-thumbnail--table {

	
	width:100%;
	
	@include respond(pc) {
		display: table;
	}

	@include respond(xs) {
		background: #fff;
		text-align: left;
	}
}

.c-thumbnail--table__item {

	@include respond(pc) {
		display: table-cell;
	}
	
	
	&--img {
		@extend .c-thumbnail--table__item;
		
		@include respond(pc) {
			width: 440px;
		}
		
	}

	&--detail--right  {
		@extend .c-thumbnail--table__item;
		
		@include respond(pc) {
			padding-left: 50px;
		}
		
	}

	&--detail--left  {
		@extend .c-thumbnail--table__item;
		
		@include respond(pc) {
			padding-right: 50px;
		}
		
		
	}
}

.c-thumbnail--table__item__ttl {
	@include font-size(18);
	font-weight: bold;
	//color: $color-cache;
	@include respond(xs) {
		margin-top: 8px;
		@include font-size(15);
	}
}

.c-thumbnail--table__item__text {
	@include font-size(16);
	line-height: 2;
	margin-top: 24px;
	color: $color-gray-6;
	
	@include respond(xs) {
		@include font-size(12);
		margin-top: 2px;
		line-height: 1.6;
		color: $color-gray-6;
	}
}

.c-thumbnail--table__item__btn {

	@include respond(pc) {
		margin-top: 4px;
	}
	
	width: 100%;
	
	.c-btn--tertiary {
		text-align: right;
		
		> a {

			color: $color-main;

			@include respond(pc) {
				width: 100px;
			}

			@include respond(xs) {
				font-weight: bold;
				display: block;
				padding: 16px 0 8px;
				@include font-size(13);
			}
			
			&::after {
				background: $color-main;
			}
		}
	}
}


.c-thumbnail--midium {
	border: 1px solid $color-gray-c;
	border-top: none;
	
	&__img {
		overflow: hidden;
		//max-height: 140px;
		text-align: center;
		background: $color-gray-f5;
	}

	&__ttl {

		font-weight: bold;
		@include font-size(16);
		color: $color-gray-3;
		padding: 16px 16px 24px 16px;
		line-height: 1.8;

		@include respond(pc) {
			padding: 16px 16px 24px 16px;
		}

		@include respond(xs) {
			padding: 16px 6.125% 16px 6.125%;
		}
	}
}

.c-thumbnail--large {

	@include respond(pc) {
		padding-bottom: 32px;
	}

	@include respond(tb) {
		padding: 13px 2.125%;
	}

	@include respond(xs) {
		padding: 16px 4.125% 16px 4.125%;
	}

	&__item {

		
		
		@include respond(pc) {
			margin-top: 8px;
		}

		@include respond(tb) {
			margin-top: 8px;
		}


		&--img {
			overflow: hidden;
			text-align: center;

			@include respond(xs) {
			}
			&--mask {
				@extend .c-thumbnail--large__item--img;
				@include clipWidth(100%, 213px);
			}
		}

		&--ttl {
			@extend .c-thumbnail--large__item;
			font-weight: bold;
			color: $color-gray-3;
			line-height: 1.6;
		
			@include respond(pc) {
				@include font-size(18);
				margin-top: 24px;
			}

			@include respond(tb) {
				@include font-size(18);
				margin-top: 16px;
					//padding: 0 3.125%;
				text-align: left;
			}

			@include respond(xs) {
				@include font-size(16);
				margin-top: 8px;
				text-align: left;
			}

			&--related {
				@extend .c-thumbnail--large__item--ttl;
				
				@include respond(pc) {
					@include font-size(16);
					margin-top: 16px;
				}

				@include respond(tb) {
					@include font-size(18);
					margin-top: 16px;
					text-align: left;
					line-height: 1.3;
				}

				@include respond(xs) {
					line-height: 1.3;
				}
				
			}
		}
		&--text {

			@extend .c-thumbnail--large__item;
			color: $color-gray-3;

			@include respond(pc) {
				padding: 0 6.125%;
				height: 3em;
			}

			@include respond(tb) {
				@include font-size(12);
				text-align: left;
				color: $color-gray-3;
				margin-top: 0px;
			}

			@include respond(xs) {
				@include font-size(12);
				line-height: 1.4;
				margin-top: 2px;
				text-align: left;
			}
		}

		&--btn {
			width: 240px;
			margin-top: 32px;
			@include center;
			font-weight: bold;

			@include respond(xs) {
				width: 100%;
				margin-top: 16px;
				padding: 16px 3.125% 0px 0;
				border-top: 1px solid $color-gray-f2;
				@include font-size(12);
				text-align: right!important;
				color: $color-gray-6;
			}

			@include respond(tb) {
				width: 100%;
				margin-top: 16px;
				padding: 16px 3.125% 0px 0;
				border-top: 1px solid $color-gray-f2;
				@include font-size(14);
				text-align: right!important;
				color: $color-gray-6;
				
				> a {
					color: $color-gray-6;
				}
			}
		}
	}
}

.c-thumbnail--largeboder {


	@include respond(pc) {
		// padding-bottom: 32px;
	border: 1px solid $color-gray-f2;
	}

	@include respond(tb) {
		padding: 13px 2.125%;
	}

	@include respond(xs) {
		padding: 16px 4.125% 16px 4.125%;
	}

	&__item {

		@include respond(pc) {
			margin-top: 8px;
		}

		@include respond(tb) {
			margin-top: 8px;
		}


		&--img {
			overflow: hidden;
			text-align: center;

			@include respond(xs) {
			}
			&--mask {
				@extend .c-thumbnail--large__item--img;
				@include clipWidth(100%, 213px);
			}
		}

		&--ttl {
			@extend .c-thumbnail--large__item;
			font-weight: bold;
			color: $color-gray-3;
			line-height: 1.6;
		
			@include respond(pc) {
				@include font-size(18);
				margin-top: 24px;
			}

			@include respond(tb) {
				@include font-size(18);
				margin-top: 16px;
					//padding: 0 3.125%;
				text-align: left;
			}

			@include respond(xs) {
				@include font-size(16);
				margin-top: 8px;
				text-align: left;
			}

			&--related {
				@extend .c-thumbnail--large__item--ttl;
				
				@include respond(pc) {
					@include font-size(16);
					margin-top: 0;
					padding: 20px 16px;
					border-top: 1px solid $color-gray-c;
				}

				@include respond(tb) {
					@include font-size(18);
					margin-top: 16px;
					text-align: left;
					line-height: 1.3;
				}

				@include respond(xs) {
					line-height: 1.3;
				}
				
			}
		}
		&--text {

			@extend .c-thumbnail--large__item;
			color: $color-gray-3;

			@include respond(pc) {
				padding: 0 6.125%;
				height: 3em;
			}

			@include respond(tb) {
				@include font-size(12);
				text-align: left;
				color: $color-gray-3;
				margin-top: 0px;
			}

			@include respond(xs) {
				@include font-size(12);
				line-height: 1.4;
				margin-top: 2px;
				text-align: left;
			}
		}

		&--btn {
			width: 240px;
			margin-top: 32px;
			@include center;
			font-weight: bold;

			@include respond(xs) {
				width: 100%;
				margin-top: 16px;
				padding: 16px 3.125% 0px 0;
				border-top: 1px solid $color-gray-f2;
				@include font-size(12);
				text-align: right!important;
				color: $color-gray-6;
			}

			@include respond(tb) {
				width: 100%;
				margin-top: 16px;
				padding: 16px 3.125% 0px 0;
				border-top: 1px solid $color-gray-f2;
				@include font-size(14);
				text-align: right!important;
				color: $color-gray-6;
				
				> a {
					color: $color-gray-6;
				}
			}
		}
	}

	> a {
		display: block;

		&:hover {
			text-decoration: underline;
		}
	}
}