.a-transforms {
    > a {
        @include css3(transition, 1s);
        
        &:hover {
            //第一引数はX方向への移動距離、第二引数はY方向への移動距離を指定します。
            @include css3(transform, translate(400px));
            
        }
    }
}

/*doc
---
title: a-transforms
name: transforms
category: object-animation
---

##transforms

```block
<div class="a-transforms"><a href="#" style="background:#ff0000;width:100px;height:100px;display:block;"></a></div>
```
*/

.a-transforms--scale {

    > a {
        transition: 1s;
        
        &:hover {
            //第一引数はX方向への縮尺比率、第二引数はY方向への縮尺比率を指定します。
            @include css3(transform, scale(10));
        }
    }
}

/*doc
---
title: a-transforms--scale
name: transforms--scale
category: object-animation
---

##transformsベース

```block
<div class="a-transforms--scale"><a href="#" style="background:#ff0000;width:100px;height:100px;display:block;border-radius:50%;"></a></div>
```
*/



.a-transforms--rotate {

    > a {
        transition: 1s;
        @include css3(transform, rotate(0deg));
        
        &:hover {
            //第一引数はX方向への縮尺比率、第二引数はY方向への縮尺比率を指定します。
            //transform: rotate(720deg);
            @include css3(transform, rotate(720deg));
        }
    }
}

/*doc
---
title: a-transforms--rotate
name: transforms--rotate
category: object-animation
---

##transformsベース

```block

<div class="a-transforms--rotate"><a href="#" style="background:#ff0000;width:100px;height:100px;display:block;"></a></div>

```
*/

.a-transforms--fadeIn {
    transition: .8s;
    
    &--svg {
        transition: .8s;
        @include css3(transform, scale(1));
        @include css3(transition-delay, .2s);
        display: inline-block;
        padding: 20px;
    }
}


/*doc
---
title: a-transforms--fadeIn
name: transforms--fadeIn
category: object-animation
---

##スクロールした際、可視状態になった際に表示

```block

<script type="text/javascript">

    $(function(){
      $('.a-transforms--fadeIn').css("opacity","0");
    });

    $(window).scroll(function (){

      $(".styleguide-div").each(function(){
        var imgPos = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();

        if (scroll > imgPos - windowHeight + windowHeight/3){
          $(".a-transforms--fadeIn",this).css("opacity","1" );
        } else {
          $(".a-transforms--fadeIn",this).css("opacity","0" );
        }
      });
    });

</script>

<div class="styleguide-div">
    <div class="a-transforms--fadeIn">
        <a href="#" style="background:#ff0000;width:100px;height:100px;display:block;"></a>
    </div>
</div>

```
*/


