// color
//--------------------------
$color-main: #61b261;
$color-sub: #CBEECB;

$color-cache: #3DA43D;


$color-accent--blue: #298CFF;
$color-accent--purple: #F944BD;
$color-accent--green: #72d2bc;
$color-accent--orange: #FF8E1C;
$color-accent--red: #ff0000;

$color-accent--s-blue: #6494c9;
$color-accent--s-purple: #B296EF;
$color-accent--s-green: #AAF2E2;
$color-accent--s-orange: #FACB9E;
$color-accent--s-red: #D0011B;

$color-gray-2: #222;
$color-gray-3: #333;
$color-gray-6: #666;
$color-gray-a1: #A1A1A1;
$color-gray-c: #CCC;
$color-gray-f5: #F5F8FA;
$color-gray-f2: #F2F2F2;

$color-gray-f0: #f0f4f6;

