.p-archive {
    width: 100%;

    &__col {
        margin-top: 24px;

        &:first-child {
            margin-top: 0px;
        }
    }
}

.p-archive__cache {

    font-weight: bold;
    margin-top: 24px;

    @include respond(pc) {
        @include font-size(16);
        margin-top: 60px;
        border-left: 3px solid $color-main;
        padding-left: 16px;
        line-height: 1.2;
    }

    @include respond(tb) {
        @include font-size(24);
        @include widtnPercent( 640,540 );
        @include center;
        line-height: 1.6;
    }
    @include respond(xs) {
        line-height: 1.5;
        @include font-size(14);
        text-align: left;
        padding: 0 3.125%;
        color: $color-main;
    }
}

.p-archive__inner {
    margin-top: 32px;

    @include respond(xs) {
        margin-top: 8px;
        padding-bottom: 16px;
        background: #fff;
    }
}

.p-archive__inner__col {
    margin-top: 24px;

    @include respond(xs) {
        margin-top: 2px;
    }

    &:first-child {
        margin-top: 0px;
    }
}