.p-box__ttl {

	&--primary {
		@include respond(pc){
			position: absolute;
			top: -40px;
			left: -80px;
		}
		@include respond(tb){
			width: 100%;
		}

		@include respond(xs){
			display: none;
		}
	}

	&--secondary {
		@include center;
	}
}
.p-box__cache {

	font-weight: bold;
	text-align: left;
	color: $color-cache;

	@include respond(pc) {
		@include font-size(32);
		padding-top: 80px;
		left: -192px;
		position: relative;
		width: 100%;
	}

	@include respond(tb) {
		@include font-size (28);
		text-align: center;
		line-height: 1.6;
		padding: 0 4.125%;
		margin-top: 24px;
		
	}

	@include respond(xs) {
		@include font-size(18);
		line-height: 1.4;
		padding: 0px 8.25%;
		color: #000;
	}

	&--primary {
		@extend .p-box__cache;
	}

	&--secondary {
		@extend .p-box__cache;
		padding-top: 60px;
		text-align: center;
		
	}
}


.p-box__item__text {

	@include respond(pc) {
		@include font-size(18);
		line-height: 2.2;
		margin-top: 32px;
		font-weight: bold;
	}
	&--cache {
		@extend .p-box__item__text;
		
		@include respond(pc) {
			@include font-size(32);
		}
	}

	@include respond(tb) {
		@include font-size(18);
		line-height: 2.3;
		margin-top: 24px;
		font-weight: bold;
		color: $color-gray-3;
	}

	@include respond(xs) {
		@include font-size(17);
		margin-top: 12px;
		line-height: 1.7;
	}

	&:first-child {
		margin-top: 0px;
	}

	&--center {
		@extend .p-box__item__text;
		text-align: center;
		margin-top: 60px;
	}
}


.p-box__item__btn {


	> a {
		@include respond(tb) {
			padding: 24px 0;
			@include css3(box-shadow,0 1px 1px 0 #457545);
		}
	}

	text-align: center;
	width: 100%;
	@include center;

	@include respond(pc) {
		margin-top: 60px;
	}

	@include respond(tb) {
		margin-top: 40px;
	}

	@include respond(xs) {
		margin-top: 32px;
	}

	&--primary {
		@extend .p-box__item__btn;
	}

	&--secondary {
		@extend .p-box__item__btn;
		width: 100%;
	}
}



.p-box__item {

	text-align: left;

	@include respond(pc) {
		margin-top: 40px;
	}

	@include respond(tb) {
		margin-top: 32px;
		@include widtnPercent( 640, 580 );
		@include center;
	}

	@include respond(xs) {
		margin-top: 16px;
		padding: 0 8.125%;
	}

	&--primary {
		@extend .p-box__item;
	}

	&--secondary {
		@extend .p-box__item;
		width: 640px;
		@include center;
		text-align: center;

		@include respond(pc){
			width: 740px;
		}

		@include respond(xs) {
			margin-top: 16px;
			width: 100%;
			padding: 0 8.125%;
		}
	}
}

.p-box__logo {
	width: 128px;
	height: 50px;
}

.p-box {

	@include respond(pc) {
		width: 720px;
		padding: 0 108px;
		text-align: center;
		position: relative;
	}

	&--primary {
		@extend .p-box;
		background: #fff;

		@include respond(tb){
			margin-top: 100px;
			@include widtnPercent( 640, 600 );
			@include center;
		}

		@include respond(xs){
			padding-bottom: 40px;
			margin-top: 24px;
			box-shadow: 0 5px 4px 0 rgba(209,209,209,0.50);
		}

	}
}