
.p-contentTtl {

	@include clearfix;
	
	&__item {
		
		&--ttl {

			float: left;
			display: table;
			margin-top: -10px;
			
			&__subtext {
				padding-left: 8px;
			}
			
			> span {
				display: table-cell;
				vertical-align: middle;
			}

			
		}

		&--link {
			float: right;
			
		}
	}
}