.p-contactTop__ttl {
	@include center;
}

.p-contactTop__cache {
	font-weight: bold;
	

	@include respond(pc) {
		@include font-size(20);
		margin-top: 40px;
		color: $color-accent--red;
	}

	@include respond(tb) {
		@include font-size(26);
		margin-top: 40px;
	}

	@include respond(xs) {
		@include font-size(18);
		line-height: 1.4;
		margin-top: 24px;
		@include widtnPercent( 640, 430 );
		@include center;
		
	}
}

.p-contactTop__item__text {
	text-align: center;
	@include center;
	
	@include respond(pc) {
		width: 630px;
		@include center;
		@include font-size(18);
		line-height: 2;
		font-weight: bold;
	}

	@include respond(xs) {
		display: none;
	}
}


.p-contactTop__item__btn {

	@include respond(pc) {
		position: relative;
		width: 480px;
		@include center;
		top: 86px;
	}

	@include respond(tb) {
		margin-top: 32px;
	}
}


.p-contactTop__item {

	
	@include respond(pc) {
		//@include gradient(#5D6FE8, #4B5EDA, vertical);
		background: url("/img/common/shape4.png") repeat left top;
		margin-top: 32px;
		@include center;
		//color: #fff;
		width: 920px;
		padding: 48px 40px 60px 40px;
		@include css3(box-shadow, 1px 1px 4px #f2f2f2);
		//border: 1px solid $color-main;
	}

	@include respond(tb) {
		margin-top: 32px;
		@include center;
		@include widtnPercent( 640, 480 );
	}

	@include respond(xs) {
		width: 100%;
		margin-top: 24px;
		padding: 24px 6.125% 24px;
		background: #eee;
	}
}

.p-contactTop {

	text-align: center;

	@include respond(pc) {
		padding-top: 100px;
		border-top: 1px solid $color-gray-f2;
		//@include gradient(#fff, #fff, vertical);
	}

	@include respond(tb) {
		padding-top: 60px;
	}

	@include respond(xs) {
		padding-top: 40px;
	}
}