.p-cta {
	width: 100%;
	text-align: left;
	@include font-size(16);
	margin-top: 60px;
	//box-shadow: 0 2px 0px 0 #ccc;
}

.p-cta__ttl {
	font-weight: bold;	
	
	@include respond(pc) {
		@include font-size(18);
		border-left: 4px solid $color-main;
		line-height: 1.6;
		padding-left: 12px;
	}

	@include respond(tb) {
		@include font-size(20);
		line-height: 2;
		border-top: 3px solid $color-main;
		padding-top: 16px;
	}

	@include respond(xs) {
		@include font-size(18);
		border-top: 1px solid $color-gray-f2;
		padding-top: 16px;
		color: $color-accent--orange;
	}
}

.p-cta__inner {

	@include respond(pc) {
		background: $color-gray-f0;
		padding: 24px 48px;
		margin-top: 24px;
	}

	@include respond(tb) {
		background: $color-gray-f0;
		padding: 16px 3.125% 24px;
		margin-top: 16px;
	}

	@include respond(xs) {
		margin-top: 16px;
		//padding: 16px 4.125%;
		//background: #effae6;
		//@include gradient(#D9FCF4, $color-accent--s-green, vertical);
	}
}

.p-cta__inner__col {
	margin-top: 16px;
	line-height: 1.7;
	
	@include respond(xs) {
		@include font-size(14);
		margin-top: 8px;
	}
	
	&:first-child {
		margin-top: 0px;
	}
}

.p-cta__inner__btn {
	margin-top: 32px;
	@include center;
	
	@include respond(tb) {
		margin-top: 24px;
	}
	
	@include respond(xs) {
		margin-top: 16px;
		padding: 16px 4.125%;
		background: $color-gray-f2;
		
		@include font-size(16);
	}

}

