.p-page {
    @include respond(pc) {
        text-align: left;
        padding-bottom: 48px;
    }
    @include respond(tb) {
        width: 100%;
        padding: 0 3.125% 24px 3.125%;
        margin-top: 50px;
        text-align: center;
        border-bottom: 1px solid $color-gray-f2;
    }
    @include respond(xs) {
        width: 100%;
        padding: 0 4.125% 24px 4.125%;
        margin-top: 50px;
        text-align: center;
        box-shadow: 0 5px 4px 0 rgba(209,209,209,0.50);
    }
}

.p-page__ttl {
    @include center;
}

.p-page__text {
    margin-top: 16px;
    line-height: 2.3;

    &--small {
        @include font-size(12);
        margin-top: 16px;
    }
}

.p-page__link {
    text-align: right;
    margin-top: 24px;
}


.p-page__cache {

    font-weight: bold;
    margin-top: 24px;
    
    @include respond(pc) {
        @include font-size(24);
        margin-top: 40px;
    }

    @include respond(tb) {
        @include font-size(24);
        @include widtnPercent( 640,540 );
        @include center;
        line-height: 1.6;
    }
    
    @include respond(xs) {
        line-height: 1.5;
        @include font-size(18);
        padding: 0 8.125% 0;
    }
}

.p-page__img {
    @include respond(pc) {
        margin-top: 40px;
    }
    @include respond(tb) {
        margin-top: 32px;
    }
    @include respond(xs) {
        margin-top: 24px;
    }
}

.p-page__inner {
    text-align: left;
    @include font-size(16);
    

    h1 {
        @include font-size(22);
        font-weight: bold;
        margin-top: 32px;
    }
    h2 {
        @include font-size(20);
        font-weight: bold;
        margin-top: 32px;
    }

    h3 {
        font-weight: bold;
        @include font-size(21);
        @include respond(pc) {
            font-weight: bold;
            margin-top: 60px;
            padding: 0px 8px 2px 0;
            border-bottom: 1px solid $color-main;
        }
        @include respond(tb) {
            margin-top: 40px;
            padding: 0px 8px 4px 0;
            border-bottom: 3px solid $color-main;
        }
        @include respond(xs) {
            @include font-size(18);
            line-height: 1.4;
            font-weight: bold;
            margin-top: 24px;
            padding: 16px 3.125%;
            border-radius: 2px;
            background: $color-gray-f2;
        }
    }

    h4 {
        @include font-size(18);
        color: $color-main;

        @include respond(pc) {
            font-weight: bold;
            margin-top: 32px;
        }

    }

    h5, h6 {
        @include font-size(16);
        font-weight: bold;
    }

    h5, h6, div, table, ol {
        @include respond(pc) {
            margin-top: 24px;
        }
        @include respond(tb) {
            margin-top: 16px;
        }
        @include respond(xs) {
            margin-top: 16px;
        }
    }


    dl {
        dd {
            margin-left: 0px;
        }
    }

    img {
        text-align: center;
    }
}