.p-service__cache {

	font-weight: bold;
	@include font-size(30);
	margin-top: 60px;
	color: $color-cache;

	@include respond(tb) {
		@include font-size(28);
		text-align: center;
		margin-top: 24px;
	}

	@include respond(xs) {
		margin-top: 24px;
		@include font-size(18);
		line-height: 1.4;
		text-align: center;
		@include widtnPercent( 640, 540 );
		text-align: center;
		@include center;
		color: #000;
	}

	&--secondary {
		@extend .p-service__cache;
		@include font-size(28);
	}
}

.p-service__category {
	
	@include respond(pc) {
		margin-top: 32px;
		width: 240px;
		@include center;
	}
}

.p-service__text {

	line-height: 1.8;

	@include respond(pc) {
		margin-top: 24px;
		width: 570px;
		@include center;
	}
	@include respond(tb) {
		margin-top: 16px;
		@include widtnPercent( 640, 460 );
		@include center;
		text-align: center;
	}
	@include respond(xs) {
		display: none;
	}
}

.p-service__ttl {
	@include respond(xs){
		@include center;
	}

	@include respond(tb){
		@include center;
	}
}

.p-service__item__text {
	
	@include respond(pc) {
		margin-top: 40px;
	}
}



.p-service__item__img {

	@include respond(pc) {
		text-align: center;
		width: 100%;
		overflow: hidden;
		@include center;
	}

	img {
		width: 100%;
	}
}

.p-service__item {

	@include center;

	@include respond(pc) {
		@include widtnPercent( 640, 580 );
		max-width: 1280px;
		background: #fff;
		@include css3(box-shadow, 5px 15px 50px #a3a3a3);
		padding: 40px 16px 24px;
		margin-top: 42px;
		@include css3(display, flex);
		@include css3(flex-wrap, wrap);
	}

	@include respond(tb) {
		width: 100%;
		margin-top: 24px;
	}

	@include respond(xs) {
		background: #fff;
		width: 100%;
		margin-top: 24px;
	}

	&--secondary {
		@extend .p-service__item;

		@include respond(pc) {
			width: 100%;
			padding: 0px 0 60px 0;
			margin-top: 60px;
		}
	}

}

.p-service__item__col {

	@include respond(pc) {
		//-webkit-box-shadow:0px 0px 13px -4px #adadad;
		background: #fff;
		@include widtnPercent( 618, 186 );
		margin: 0 1.61%;
		
	}

	@include respond(tb) {
		//-webkit-box-shadow:0px 0px 13px -4px #adadad;
		background: #fff;
		margin: 32px 0 0;
		padding: 32px 6.125% 24px;
		border-top: 3px solid $color-gray-c;
		
		&:first-child {
			margin: 0px;
			border-top: none;
			padding: 0px 6.125% 0;
		}
	}

	@include respond(xs) {
		background: #fff;
		border-top: 2px solid $color-gray-c;
		padding: 24px 5.125% 16px;
		//margin-top: 16px;
		
		&:first-child {
			margin-top: 0px;
			border-top: none;
			padding-top: 0px;
		}
	}

	a {
		display: inline-block;
		
		@include respond(xs) {
			display: block;
		}
	}
}


.p-service {
	
	@include respond(pc) {
		text-align: center;
		position: relative;
		padding: 80px 0 0;
		margin-top: 100px;
		width: 100%;
	}

	@include respond(tb) {
		padding: 60px .6% 40px;
		margin-top: 60px;
		border-top: 24px solid #eee;
	}

	@include respond(xs) {
		padding-top: 40px;
		box-shadow: 0 5px 4px 0 rgba(209,209,209,0.50);
	}

	&--secondary {
		@include respond(pc) {
			text-align: center;
			width: 848px;
		}
	}
}