.p-workTop__ttl {
	@include center;
}

.p-workTop__cache {
	font-weight: bold;
	color: $color-cache;

	@include respond(pc) {
		@include font-size(30);
		margin-top: 40px;
	}

	@include respond(tb) {
		@include font-size(28);
		margin-top: 24px;
	}

	@include respond(xs) {
		@include font-size(18);
		line-height: 1.4;
		margin-top: 24px;
		@include widtnPercent( 640, 540 );
		@include center;
		color: #000;
		
	}
}

.p-workTop__text {
	margin-top: 24px;
	width: 420px;
	text-align: center;
	@include center;

	@include respond(xs) {
		display: none;
	}
}


.p-workTop__item {
	
	background: #fff;
	
	@include respond(pc) {
		margin-top: 32px;
		@include center;
		width: 920px;
		@include css3(display, flex); 
		@include css3(flex-wrap, wrap);
	}
	@include respond(tb) {
		margin-top: 32px;
		background: $color-gray-f5;
		padding: 32px 0;
		@include center;
		@include widtnPercent( 640, 640 );
	}

	@include respond(xs) {
		width: 100%;
		margin-top: 24px;
		padding: 0px;
		background: #eee;
		padding: 12px 3.125%;
		
	}

	> li {
		@include respond(pc) {
			width: 50%;
			padding: 24px 2.125%;
		}

		@include respond(tb) {
			background: #fff;
			@include widtnPercent( 640, 560 );
			@include center;
			margin-top: 24px;
			
			&:first-child {
				margin-top: 0px;
			}
		}

		@include respond(xs) {
			background: #fff;
			@include center;
			border-top: 1px solid $color-gray-c;
			
			&:first-child {
				border-top: none;
			}
		}
	}
}

.p-workTop {

	text-align: center;

	@include respond(pc) {
		padding-top: 100px;
	}

	@include respond(tb) {
		padding-top: 60px;
		border-top: 24px solid #eee;
	}

	@include respond(xs) {
		padding-top: 40px;
	}
}