.p-articleThumb {
	margin-top: 16px;
	
	&__col {
		display: table;
		margin-top: 24px;
		padding-top: 24px;
		border-top: 1px solid $color-gray-f2;
		
		&:first-child {
			margin-top: 0px;
		}
		
		
		&__item {
			display: table-cell;
			vertical-align: top;
			
			&--img {
				@extend .p-articleThumb__col__item;
				width: 180px;
			}

			&--detail {
				@extend .p-articleThumb__col__item;
				padding-left: 16px;
				
				&__text {
					margin-top: 8px;
					
					&:first-child {
						margin-top: 0px;
					}

					&--primary {
						@extend .p-articleThumb__col__item--detail__text;
						color: $color-gray-3;
					}

					&--secondary {
						@extend .p-articleThumb__col__item--detail__text;
						color: $color-gray-a1;
					}
				}
			}	
		}
	}
}
