.p-bg {

	&--item {
		position: absolute;
		
		@include respond(xs){
			display: none;
		}

		@include respond(tb){
			display: none;
		}
		
		&--primary {
			@extend .p-bg--item;
			left: 0px;
			top: 40px;
			
			&--workTop {
				@extend .p-bg--item--primary;
				top: 240px;
				height: 310px;
			}

			&--under {
				@extend .p-bg--item--primary;
				left: 0px;
				top: 80px;
				height: 280px;
			}
		}

		&--secondary {
			@extend .p-bg--item;
			right: 0px;
			bottom: 100px;
			
			&--workTop {
				@extend .p-bg--item--secondary;
				bottom: 240px;
				height: 310px;
			}

			&--under {
				@extend .p-bg--item--secondary;
				right: 0px;
				top: 640px;
				height: 350px;
			}
		}

		&--tertiary {
			@extend .p-bg--item;
			bottom: 270px;
			left: -120px;
		}

		&--quaternary {
			@extend .p-bg--item;
			right: -100px;
			top: 80px;
		}
		
	}
}