.p-box__ttl {

	&--primary {
		@include respond(pc){
			position: absolute;
			top: -40px;
			left: -80px;
		}

		@include respond(tb){
			width: 100%;
		}

		@include respond(xs){
			display: none;
		}
	}

	&--secondary {
		@include center;
	}
}



.p-box {

	@include respond(pc) {
		width: 730px;
		padding: 0 108px;
		text-align: center;
		position: relative;
	}

	&--primary {
		@extend .p-box;
		background: #fff;
		
		@include respond(tb){
			margin-top: 100px;
			@include widtnPercent( 640, 600 );
			@include center;
		}
		
		@include respond(xs){
			padding-bottom: 40px;
			box-shadow: 0 2px 1px 0 rgba(189,189,189,0.50);
		}
	
	}

	&--secondary {
		@extend .p-box;
		padding: 32px 0;
		background: url("/img/common/shape4.png") left top repeat;
		width: 100%;
		margin-top: 40px;
		
		@include respond(pc){
			padding: 60px 0;
		}

		@include respond(xs) {
			padding-bottom: 0px;
			margin-top: -22px;
		}

	}	

	&__cache {

		
		font-weight: bold;
		text-align: left;
		
		@include respond(pc){
			@include font-size(32);
			padding-top: 100px;
		}

		@include respond(tb){
			@include font-size (26);
			padding-top: 50px;
			text-align: center;
		}

		@include respond(xs) {
			@include font-size(20);
			padding: 0 4.125% 0 8.125%;
		}
		
		&--primary {
			@extend .p-box__cache;
		}
		
		&--secondary {
			@extend .p-box__cache;
			padding-top: 60px;
			text-align: center;
		}
	}

	&__item {

		text-align: left;
		
		
		@include respond(pc){
			margin-top: 40px;
		}

		@include respond(tb){
			margin-top: 40px;
			@include widtnPercent( 640, 480 );
			@include center;
		}
		
		@include respond(xs) {
			margin-top: 16px;
			padding: 0 8.125%;
		}
		

		
		&--primary {
			@extend .p-box__item;
		}
		
		&--secondary {
			@extend .p-box__item;
			width: 640px;
			@include center;
			text-align: center;
			
			@include respond(pc){
				width: 740px;
			}
			
			@include respond(xs) {
				margin-top: 16px;
				width: 100%;
				padding: 0 8.125%;
			}
			

		}
		
		&__text {

			@include respond(pc) {
				@include font-size(17);
				line-height: 2;
				margin-top: 32px;
				font-weight: bold;
			}

			&--cache {
				@extend .p-box__item__text;
				
				@include respond(pc) {
					@include font-size(32);
				}
				
			}

			@include respond(tb) {
				@include font-size(16);
				line-height: 2.3;
				margin-top: 24px;
				font-weight: bold;
			}

			@include respond(xs) {
				@include font-size(16);
				margin-top: 12px;
				line-height: 1.7;
			}
			
		
			&:first-child {
				margin-top: 0px;
			}

			&--center {
				@extend .p-box__item__text;
				text-align: center;
				margin-top: 60px;
			}
			
		}

		&__btn {

			text-align: center;
			width: 100%;
			@include center;
			
			@include respond(pc) {
				margin-top: 60px;
			}

			@include respond(tb) {
				margin-top: 40px;
			}

			@include respond(xs) {
				margin-top: 32px;
			}
			
			&--primary {
				@extend .p-box__item__btn;
			}
			
			&--secondary {
				@extend .p-box__item__btn;
				width: 100%;
			}
			
		}
	}
	
	&__logo {
		
		width: 128px;
		height: 50px;
	}
}