
.p-entry {
	width: 100%;
	//background: $color-accent--blue;
	@include gradient(#4990E2, #87DBE1, horizontal);
	padding: 24px 56px 32px;
	
	&--midium {
		@extend .p-entry;
		
		
		@include respond(pc){
			padding: 40px 88px 40px;
		}

		@include respond(xs){
			padding: 40px 6.125%;
		}

	}

	&--small {
		@extend .p-entry;
		padding: 24px 32px 32px;
	}
	
	&__ttl {

		&--small {

			text-align: center;
			@include font-size(18);
			font-weight: bold;
			color: #fff;
			line-height: 1.8;
		
		}
		
	}

	&__item {
		

		&--btn {

			@include center;
			
			&--midium {
				@extend .p-entry__item--btn;		
				margin-top: 24px;
				
				
				@include respond(pc){
					width: 320px;
				}

				@include respond(xs){
					width: 90%;
				}
				
				a {
					padding: 12px 8px;
					@include font-size(16);
				}
				
			}

			&--small {
				@extend .p-entry__item--btn;	
				margin-top: 24px;
				width: 200px;
				
				a {
					padding: 12px 8px;
					@include font-size(14);
				}
				
			}
			

			

		}
		
	}
}