
.p-menu {

	position: fixed;
	top: 0;
	right: 0px;
	overflow: hidden;
	width: 300px;
	height: 100%;
	padding: 20px;
	background-color: $color-gray-3;
	
	/*アニメーション*/

	@include css3(transition-property, all);
	@include css3(transition-duration, .5s);
	@include css3(transition-delay, 0s);
	@include css3(transform-origin, left center);
	@include css3(transform, perspective(500px) rotateY(-90deg));
    opacity: 0;
    
	
	a {
		color: #fff;
		display: block;
		padding: 8px 0;
	}

}
.p-menu.is-animate{
	@include css3(transition-delay, .3s);
	@include css3(transform, none);
    opacity: 1;
}

.style-content {
	
	width: 100%; 
	height:400px; 
	position: static; 
	background: #ff0000;
	-webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.style-content.is-animate {
	
	-webkit-transition-delay: 0s;
    transition-delay: 0s;
	 -webkit-transform: translateX(300px);
	 -ms-transform: translateX(300px);
	 transform: translateX(300px);
	
}

