.p-slideshow--primary {

    width: 100%;
    height: 350px;
    overflow: hidden;
    @include clearfix;
    
    &__inner {
    		width: 500px;
    		height: 300px;
    		margin: 0 auto;
    		position: relative;
    		
    		li {
    			position: absolute;
    			top: 0;
    			left: 100%;
    			width: 100%;
    			height: 100%;
    			@include animation(slide 12s ease-in 0s infinite);
    			
    			img {
    				width: 100%;
    			}
    			
    			&:nth-of-type(1) {
    				@include css3(animation-delay, 0s);
    			}
    			&:nth-of-type(2) {
    				@include css3(animation-delay, 4s);
    			}
    			&:nth-of-type(3) {
    				@include css3(animation-delay, 8s);
    			}
    		}
    }
}


//スライドベース
@include keyframes(slide){
    
    0% {
    	left: 100%;
    	opacity: 0.5;
    	z-index: 10;
    }
    /*フレームイン開始*/
    10% {
    	left: 0%;
    	opacity: 1;
    }				
    /*(a)全体の1/10秒でフレームイン終了*/
    33.3% {
    	left: 0%;
    	opacity: 1;
    	z-index: -10;
    }	
    /*(b)ここまで停止して、フレームアウト開始（b = 100 / スライド数） */
    43.3% {
    	left: -100%;
    	top: 0%;
    	opacity: 0.5;
    }	
    /*(c)フレームアウト終了（c = a） */
    50% {
    	left: -100%;
    	top: 100%;
    }				
    /* 分かりやすい様に、見えないエリアで迂回させています */
    70% {
    	left: 100%;
    	top: 100%;
    }
    80% {
    	left: 100%;
    	top: 0%;
    }
}


/*doc
---
title: p-slideshow--primary
name: p-slideshow--primary
category: object-project
---

##スライドショーの基本ベース

```block

<div class="p-slideshow--primary">
    <ul class="p-slideshow--primary__inner">
        <li class="p-slideshow--primary__inner__item">
            <p><a href="http://example.com"><img src="https://hataractive.jp/img/pc/Useful/1461/1.png"></a></p>
        </li>
        <li class="p-slideshow--primary__inner__item">
            <p><a href="http://example.com"><img src="https://hataractive.jp/img/pc/Useful/1461/2.png"></a></p>
        </li>
        <li class="p-slideshow--primary__inner__item">
            <p><a href="http://example.com"><img src="https://hataractive.jp/img/pc/Useful/1461/3.png"></a></p>
        </li>
    </ul>
    <div class="progress-bar"></div>
</div>

```
*/



.p-slideshow--secondary {

    width: 100%;
    height: 300px;
    overflow: hidden;
    @include clearfix;
    
    &__inner {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: relative;
            text-align: center;
            
            li {
                position: absolute;
                top: 0;
                left: 100%;
                width: 100%;
                @include animation(slideMax 12s ease-in 0s infinite);
                
                img {
                    width: 100%;
                    height: auto;
                }
                
                &:nth-of-type(1) {
                    @include css3(animation-delay, 0s);
                }
                &:nth-of-type(2) {
                    @include css3(animation-delay, 4s);
                }
                &:nth-of-type(3) {
                    @include css3(animation-delay, 8s);
                }
            }
    }
}

//スライドベース
@include keyframes(slideMax){
    
    0% {
        left: 100%;
        opacity: 0.5;
        z-index: 10;
    }
    /*フレームイン開始*/
    10% {
        left: 0%;
        opacity: 1;
    }               
    /*(a)全体の1/10秒でフレームイン終了*/
    33.3% {
        left: 0%;
        opacity: 1;
        z-index: -10;
    }   
    /*(b)ここまで停止して、フレームアウト開始（b = 100 / スライド数） */
    43.3% {
        left: -100%;
        top: 0%;
        opacity: 0.5;
    }   
    /*(c)フレームアウト終了（c = a） */
    50% {
        left: -100%;
        top: 100%;
    }               
    /* 分かりやすい様に、見えないエリアで迂回させています */
    70% {
        left: 100%;
        top: 100%;
    }
    80% {
        left: 100%;
        top: 0%;
    }
}


/*doc
---
title: p-slideshow--secondary
name: p-slideshow--secondary
category: object-project
---

##スライドショー100%画像

```block

<div class="p-slideshow--secondary">
    <ul class="p-slideshow--secondary__inner">
        <li class="p-slideshow--secondary__inner__item">
            <p><a href="http://example.com"><img src="https://hataractive.jp/img/pc/Useful/1461/1.png"></a></p>
        </li>
        <li class="p-slideshow--secondary__inner__item">
            <p><a href="http://example.com"><img src="https://hataractive.jp/img/pc/Useful/1461/2.png"></a></p>
        </li>
        <li class="p-slideshow--secondary__inner__item">
            <p><a href="http://example.com"><img src="https://hataractive.jp/img/pc/Useful/1461/3.png"></a></p>
        </li>
    </ul>
    <div class="progress-bar"></div>
</div>

```
*/


.p-slideshow--tertiary {

    width: 100%;
    height: 300px;
    overflow: hidden;
    @include clearfix;
    
    &__inner {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: relative;
            text-align: center;
            
            li {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                opacity: 0;
                @include animation(slideBg 24s ease-in 0s infinite);
                
                img {
                    width: 100%;
                    height: auto;
                }
                
                &:nth-of-type(1) {
                    @include css3(animation-delay, 0s);
                }
                &:nth-of-type(2) {
                    @include css3(animation-delay, 8s);
                }
                &:nth-of-type(3) {
                    @include css3(animation-delay, 16s);
                }
            }

    }
}

/* ----------------------------------------------
 * Generated by Animista on 2017-4-21 17:56:33
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */


//スライドベース
@include keyframes(slideBg){
    
    0% {
        opacity: 0;
        top: 0%;
        left: 0%;
        z-index: 10;
        transform: scale(1);
        transform: translateY(0);
    }
    /*フレームイン開始*/
    4% {
        opacity: 1;
    }               
    /*(a)全体の1/10秒でフレームイン終了*/
    50% {
        left: 0%;
        top: 0%;   
    }
    75% {
        z-index: -10;
        opacity: 1;
        transform: scale(2);
        transform-origin:top;
    } 
    
    /*(b)ここまで停止して、フレームアウト開始（b = 100 / スライド数） */
    80% {
        opacity: 0;
        transform: scale(2);
        transform-origin:top;
    }   
    /*(c)フレームアウト終了（c = a） */
    80% {
        top: -100%;
        left: -100%;
        opacity: 0;
        transform: scale(1);
        transform-origin:top;
    }                 
}


/*doc
---
title: p-slideshow--tertiary
name: p-slideshow--tertiary
category: object-project
---

##スライドショー100%画像

```block

<div class="p-slideshow--tertiary">
    <ul class="p-slideshow--tertiary__inner">
        <li class="p-slideshow--tertiary__inner__item">
            <p><a href="http://example.com"><img src="https://hataractive.jp/img/pc/Useful/1461/1.png"></a></p>
        </li>
        <li class="p-slideshow--tertiary__inner__item">
            <p><a href="http://example.com"><img src="https://hataractive.jp/img/pc/Useful/1461/2.png"></a></p>
        </li>
        <li class="p-slideshow--tertiary__inner__item">
            <p><a href="http://example.com"><img src="https://hataractive.jp/img/pc/Useful/1461/3.png"></a></p>
        </li>
    </ul>
    <div class="progress-bar"></div>
</div>

```
*/






