
.p-sns {

	&--primary {
		@include respond(pc) {
			width: 128px;
		}
	}

	&__item {
		@include respond(pc) {
			display: inline-block;
			width: 24px;
			margin-left: 24px;
		}

		&:first-child {
			@include respond(pc) {
				margin-left: 0px;
			}
			
		}
	}
}