.l-container {
	width: 100%;
	min-width: 320px;
	//height: 100vh!important;
	position: relative;
	background: #fff;
	@include css3(transition-property, all);
	@include css3(transition-delay, .3s);
	@include css3(transition-duration, .5s);
	
	
	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
	}

	&__ttl {
		padding:32px 0;
		margin-top: 24px;
	}
}

body > .l-container,
body > .l-container__overlay {
	height: auto;
}


.l-container.is-animate {
	@include css3(transition-delay, 0s);
	@include css3(transform, translateX(-300px));
}