
.l-content {

	@include respond(pc){
		@include widtnPercent( 640, 630 );
		@include center;
		position: relative;
	}

	@include respond(xs){
		//background:$color-gray-f5;
	}

	&--primary {

		@extend .l-content;
		
		@include respond(pc) {	
			padding: 20px 0;
		}
		
	}

	&--secondary {
		@extend .l-content;

		@include respond(pc) {	
			margin-top: 16px;
		}
	}

	&__inner {
		@include center;
		
		&--primary {
			@extend .l-content__inner;
			
			@include respond(pc) {	
				width: 1140px;
				@include clearfix;
			}
			
			@include respond(xs) {	
				
			}
		}

		@include respond(xs){
			@include center;
		}

		&__breadcrumb {
				
			@include respond(xs) {
				display: none;
			}
		}

	}


	&__btn {
		@include respond(pc){
			width: 400px;
			@include center;
			margin-top: 56px;
		}
	}
}


.l-content--lower {

	@include respond(pc){
		@include widtnPercent( 640, 600 );
		@include center;
		position: relative;
		margin-top: 40px;
	}
}