.l-header {
	width: 100%;	
}


.l-header__ttl {

	background: $color-gray-3;
	padding: 16px 24px;
	text-align: center;
	@include font-size(14);
	color: #fff;

	@include respond(tb) {
		padding: 16px 6.125%;
		@include font-size(12);
	} 
		
	@include respond(xs) {
		display: none;
	} 

}

.l-header__info {

	background: #fff;
	position: relative;
	@include widtnPercent( 640, 640 );
	@include center;

	@include respond(pc) {
		height: 60px;
	}

	@include respond(tb) {
		height: 48px;
		margin-top: 16px;
	}

	@include respond(xs) {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		height: 50px;
		width: 100%;
		border-bottom: 1px solid $color-gray-c;
	}

	&--primary {
		@extend .l-header__info;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10000;
		background: #fff;
			
		@include css3(transition-duration, .5s);
		box-shadow: 0 1px 2px 0 rgba(239,239,239,0.50);
		
		@include respond(pc) {
			@include css3(transform, translatey(-120px));
			height: 90px;
		}

		@include respond(tb) {
			@include css3(transform, translatey(-120px));
			height: 60px;
			margin-top: 0px;
		}

		@include respond(xs) {
			display: none;
		}

		&.is-show {
			@extend .l-header__info--primary;
			@include css3(transform, translatey(0px));
			
		}
		
	}
}


.l-header__info__item {
	position: absolute;
		
	@include respond(pc) {
		top: 25px;
	}
			
	&--primary {	
		@extend .l-header__info__item;
		right: 3.125%;
				
		@include respond(pc) {
			top: 26px;
		}

		@include respond(tb) {		
			top: 11px;
		}

		@include respond(xs) {		
			top: 11px;
			right: 3.125%;
		}
	}


	&--secondary {	

		@extend .l-header__info__item;
		left: 3.125%;
				
		@include respond(pc) {
			
			top: 30px;
		}

		@include respond(tb) {
			top: 10px;
		}

		@include respond(xs) {
			top: 15px;
		}

		img {
			@include respond(pc) {
				width: 80px;
			}

			@include respond(tb) {
				width: 78px;
			}

			@include respond(xs) {
				width: 50px;
			}
		}
	}
}


.l-header.is-animate {
    @include animation(header-anime .5s ease-out 0s forwards);
    //イージングは、ease、linear、ease-in、ease-out、ease-in-out
}

@include keyframes(header-anime){

    0% {
    	//opacity: 0;//
        @include css3(transform,translateY(-103px));
        @include css3(transform-origin,left top);
        
        transform-origin: left top;
    }
    100% {
    	//opacity: 1;//
        @include css3(transform,translateY(0px));
        @include css3(transform-origin,left top);
    }

}