.c-breadcrumb {

	

	> li {
		display: inline-block;
		
		&::after {
			color: #959fa5;
			content: "»";
			margin: 0 0.6em;
		}
	}

}

/*doc
---
title: c-tab
name: c-tab
category: object-component
---

## プライマリー

```block

<span class="c-tab--primary">タイトル</span>

```
*/
