.c-tab {

	@include respond(pc) {
		padding: 8px 48px;
		text-align: center;
		color: #fff;
		background: $color-accent--blue;
		@include font-size(14);
		display: inline-block;
	}

	@include respond(xs) {
		padding: 3px 32px;
		text-align: center;
		color: #fff;
		background: $color-accent--blue;
		@include font-size(12);
		display: inline-block;
	}

	&--primary {
		@extend .c-tab;
	}

}

/*doc
---
title: c-tab
name: c-tab
category: object-component
---

## プライマリー

```block

<span class="c-tab--primary">タイトル</span>

```
*/
