.vagrant
Gemfile
Gemfile.lock
Rakefile
Vagrantfile.sample
Vagrantfile.theme-review
spec
ansible.cfg
LICENSE
README.md
provision/*
wordpress/*
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/themes
!wordpress/wp-content/uploads
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/nina
wordpress/wp-content/themes/nina/css/*  
wordpress/wp-content/themes/nina/js/*