
.l-article {

	@include respond(pc) {	
		width: 800px;
		@include center;
		text-align: center;
		padding-bottom: 48px;
	}

	@include respond(tb) {	
		width: 100%;
		padding: 0 3.125% 24px 3.125%;
		margin-top: 50px;
		text-align: center;
		border-bottom: 1px solid $color-gray-f2;
	}

	@include respond(xs) {	
		width: 100%;
		padding: 0 4.125% 24px 4.125%;
		margin-top: 50px;
		text-align: center;
		box-shadow: 0 5px 4px 0 rgba(209,209,209,0.50);
	}
}

.l-article__ttl {

	@include center;
}

.l-article__cache {

	font-weight: bold;
	margin-top: 24px;

	@include respond(pc) {
		@include font-size(28);
		margin-top: 40px;
		
	}

	@include respond(tb) {
		
		@include font-size(24);
		@include widtnPercent( 640, 540 );
		@include center;
		line-height: 1.6;
	}

	@include respond(xs) {
		line-height: 1.5;
		@include font-size(18);
		padding: 0 8.125% 0;
	}
}

.l-article__img {

	@include respond(pc) {
		margin-top: 40px;
	}

	@include respond(tb) {
		margin-top: 32px;
	}

	@include respond(xs) {
		margin-top: 24px;
	}
}

.l-article__item {
	margin-top: 24px;
	
	@include respond(pc) {
		margin-top: 32px;
	}

	&--cta {
		margin-top: 32px;
		
		@include respond(pc) {
			margin-top: 80px;
		}

		@include respond(tb) {
			margin-top: 48px;
		}

	}

}
	

.l-article__inner {

	text-align: left;
		
	h3 {
		@include respond(pc) {
			@include font-size(24);
			font-weight: bold;
			margin-top: 60px;
			padding: 0px 8px 8px 0;
			
			border-bottom: 3px solid $color-main;
		}

		@include respond(tb) {
			@include font-size(20);
			font-weight: bold;
			margin-top: 40px;
			padding: 0px 8px 4px 0;
			border-bottom: 3px solid $color-main;
		}

		@include respond(xs) {
			@include font-size(18);
			line-height: 1.5;
			font-weight: bold;
			margin-top: 24px;
			padding: 24px 3.125%;
			border-radius: 2px;
			background: $color-gray-f2;
		}
	}


	p, ul, h2, ul, blockquote, table {
		@include respond(pc) {
			margin-top: 32px;
		}
		@include respond(tb) {
			margin-top: 16px;
		}
		@include respond(xs) {
			margin-top: 16px;
		}
	}

	p {

		@include font-size(18);
		line-height: 2.3;
		
		@include respond(tb) {
			line-height: 2;
			
		}
		
		@include respond(xs) {
			@include font-size(16);
			line-height: 1.8;
			color: $color-gray-2;
			
		}
			
		b {
			font-weight: bold;
			color: #000;
		}
			
	}

	img {
		text-align: center;
	}

	ul {
		padding: 24px 24px 24px 16px;
		background: $color-gray-f5;
		
		@include respond(xs) {
			padding: 16px 3.125% 24px 0%;
		}
		

	}

	ul li {
		position: relative;
		@include font-size(18);
		margin-top: 16px;
		margin-left: 36px;
		color: #000;
		line-height: 2;
		
		@include respond(xs) {
			@include font-size(15);
			line-height: 1.6;
		}
		

			
		&:first-child {
			margin-top: 0px;
		}
	}


	ul li::after,
	ul li::before {
		display: block;
		content: '';
		position: absolute;
	}

		ul li::after {
			top: 0.5em;
			left: -1.4em;
			width: 16px;
			height: 16px;
			background-color: $color-main;
			border-radius: 100%;
			
			@include respond(xs) {
				top: 0.2em;
			}
			

		}

		ul li::before {
			border-bottom: 1px solid #fff;
			border-right: 1px solid #fff;
			height: 6px;
			left: -21px;
			top: 14px;
			transform: rotate(-45deg);
			width: 6px;
			z-index: 2;
			
			@include respond(xs) {

				left: -17px;
				top: 8px;
			}
			
		}
		
}