
.l-grid {

	width: 100%;
	display: flex;
	flex-wrap: wrap;
	
	
	&__col {
		background: #fff;
		
		&--2 {
			@extend .l-grid__col;
			@include widtnPercent( 640, 312 );
			margin-right: 0.625%;
			margin-left: 0.625%;
			
			@include respond(xs) {
				@include widtnPercent( 640, 600 );
				@include center;
				margin-top: 16px;
			}
			
			&--primary {
				@extend .l-grid__col--2;
				margin-top: 24px;
				
				@include respond(xs) {
					margin-top: 16px;
				}
			}

			&:first-child {
				@include respond(xs) {
					margin-top: 0px;
				}
			}
		}

		&--3 {
			@extend .l-grid__col;
			
			@include respond(pc) {

				@include widtnPercent( 1308, 396 );
				margin-left: 2.29%;
				margin-top: 32px;
			
			}

			@include respond(xs) {
			
				@include widtnPercent( 640, 600 );
				@include center;
				margin-top: 16px;
			
			}

			&:nth-child(-n+3) {

				@include respond(pc) {
					margin-top: 0px;
				}
			}
		}
	}
	
}