
.l-main {

	@include respond(pc){
		@include center;
		//max-width: 1120px;
		min-height: 800px;
		width: 1080px;
		position: relative;
	}

	@include respond(tb) {
		@include center;
		height: 620px;
		@include widtnPercent( 640, 600 );
		position: relative;
	}

	@include respond(xs) {
		@include widtnPercent( 640, 640 );
		@include center;
		position: relative;
		margin-top:  16px;
	}
}


.l-main__item {

	@include respond(pc){
		position: absolute;
		top: 0px;
	}

	&--bg {

		@extend .l-main__item;	
		background: url('../img/sprite/mainBg.png');
		@include css3(background-size, cover);
		z-index: 1;

		@include respond(pc){
			@include css3(box-shadow, 5px 10px 30px #a3a3a3);
			top: 60px;
			right: 0px;
			position: absolute;
			width: 630px;
			height: 580px;
		}

		@include respond(tb) {
			@include css3(box-shadow, 2px 6px 10px #a3a3a3);
			top: 40px;
			right: 1.125%;
			position: absolute;
			width: 80%;
			height: 580px;
		}

		@include respond(xs) {
			width: 100%;
			height: 320px;
		}		

		img {
			width: 820px;
		}
	}

	&--text {
		@extend .l-main__item;
		//background: #fff;
		@include respond(pc){
			@include font-size(17);
			font-weight: bold;
			line-height: 2.4;
			top: 320px;
			width: 400px;
			z-index: 2;
			text-align: left;
			color: $color-cache;
		}

		@include respond(tb) {
			@include font-size(18);
			font-weight: bold;
			left: 0px;
			line-height: 2;
			top: 350px;
			width: 400px	;
			position: absolute;
			z-index: 2;
			background: #fff;
		}

		@include respond (xs) {
			display: none;
		}
	}

}

.l-main__item--ttl {

	@extend .l-main__item;
	left: 0;
	position: absolute;

	@include respond(pc){
		top: 130px;
		width: 760px;
		z-index: 2;
	}

	@include respond(tb) {
		left: 0px;
		top: 185px;
		width: 620px;
		z-index: 2;
	}

	@include respond(xs) {
		@include widtnPercent( 640, 540 );
		left: 5.125%;
		top: 40px;
	}
}