
.l-price {

	@include respond(pc) {	
		width: 800px;
		@include center;
		text-align: center;
		padding-bottom: 48px;
	}

	@include respond(tb) {	
		width: 100%;
		padding: 0 3.125% 24px 3.125%;
		margin-top: 50px;
		text-align: center;
		border-bottom: 1px solid $color-gray-f2;
	}

	@include respond(xs) {	
		width: 100%;
		padding: 0 4.125% 24px 4.125%;
		margin-top: 50px;
		text-align: center;
		box-shadow: 0 5px 4px 0 rgba(209,209,209,0.50);
	}
}



.l-price__ttl {

	@include center;
}

.l-price__text {
	margin-top: 16px;
	
	&--primary {
		@extend .l-price__text;
		line-height: 2;
		
		@include respond(xs) {
			line-height: 1.6;
			padding: 0 3.125%;
		}

	}
	&--secondary {
		@extend .l-price__text;
		
		@include respond(pc) {
			margin-top: 60px;
			text-align: right;
		}

		@include respond(xs) {
			margin-top: 24px;
			text-align: center;
			padding: 0 16.125%;
			@include font-size(18);
		}

		font-weight: bold;
		color: $color-accent--orange;
	}
}


.l-price__cache {

	font-weight: bold;
	margin-top: 24px;

	@include respond(pc) {
		@include font-size(28);
		margin-top: 40px;
		
	}

	@include respond(tb) {
		
		@include font-size(24);
		@include widtnPercent( 640, 540 );
		@include center;
		line-height: 1.6;
	}

	@include respond(xs) {
		line-height: 1.5;
		@include font-size(18);
		padding: 0 3.125% 0;
	}
}

.l-price__img {

	@include respond(pc) {
		margin-top: 40px;
	}

	@include respond(tb) {
		margin-top: 32px;
	}

	@include respond(xs) {
		margin-top: 24px;
	}
}

.l-price__nav {
	margin-top: 24px;
	width: 100%;
	
	@include respond(pc) {
		margin-top: 40px;
		text-align: center;
	}

	@include respond(xs) {
		@include css3(display, flex);
		@include css3(flex-wrap, nowrap);
		box-shadow: 0 2px 0 0 rgba(167,167,167,0.20);
		
	}

	li {

		@include respond(pc) {
			width: 23%	;
			display: inline-block;
			border-right: 1px solid $color-gray-c;
			
			&:first-child {
				border-left: 1px solid $color-gray-c;
			}
		}

		@include respond(xs) {
			width: 33%;
			background: $color-gray-f5;
		}
		
		
		a {
			font-weight: bold;
			@include font-size(14);

			@include respond(pc) {
				display: block;
				padding: 0px 8px;
				border-bottom: 4px solid #fff;
				@include font-size(14);
				
			}

			@include respond(xs) {
				padding: 16px 3.125%;
				@include font-size(14);
				@include gradient(#fff, $color-gray-f5, vertical);
				display: block;
				border-top: 2px solid $color-main;
				border-left: 2px solid #fff;
				line-height: 1.4;
				
				
			}
			
			
			&:hover {
				@include respond(pc) {
					color: $color-main;
				}
				
			}
		}
	}
}

.l-price__item--cta {
	margin-top: 32px;

	@include respond(pc) {
		margin-top: 32px;
		border-top: 1px solid $color-gray-f2;
		padding-top: 40px;
	}

	@include respond(tb) {
		margin-top: 48px;
	}
}

.l-price__inner__table {
	margin-top: 16px;
	
	@include respond(pc) {
		@include css3(display, flex);
		@include css3(flex-wrap, wrap);
	}
}

.l-price__inner__table__col {

	display: table;

	@include respond(pc) {
		width: 50%;
		padding-right: 16px;
		padding-top: 16px;
	}

	@include respond(xs) {
		margin-top: 8px;
	}

	
	
	dt,dd {
		display: table-cell;

		@include respond(pc) {
			padding: 4px 16px;
			@include font-size(16);
			
		}

		@include respond(xs) {
			@include font-size(16);
		}
	}

	dt {
		font-weight: bold;

		@include respond(pc) {
			background: $color-accent--green;
			width: 8em;
			color: #fff;
			border-radius: 4px;
			text-align: center;
		}

		@include respond(xs) {
			width: 3em;
			color: $color-cache;
			
		}
		
	}
}

.l-price__inner__text {
	@include font-size(16);
	

	@include respond(pc) {
		margin-top: 24px;
	}

	@include respond(xs) {
		margin-top: 16px;
	}
	
	&--primary {
		@extend .l-price__inner__text;
	}

	&--secondary {
		@extend .l-price__inner__text;
		@include font-size(16);
		color: $color-gray-a1;
		
		@include respond(pc) {
			margin-top: 16px;
			@include font-size(14);
		}

		
		@include respond(xs) {
			@include font-size(12);
		}
		

		
	}
}

.l-price__inner__ttl {

	@include respond(pc) {
		@include font-size(22);
		font-weight: bold;
		color: $color-cache;
	}

	@include respond(tb) {
		@include font-size(24);
		font-weight: bold;
		margin-top: 40px;
		padding: 0px 8px 4px 0;
		border-bottom: 3px solid $color-main;
	}

	@include respond(xs) {
		@include font-size(16);
		line-height: 1.5;
		font-weight: bold;
		margin-top: 24px;
		padding: 16px 3.125%;
		border-radius: 2px;
		background: $color-gray-f2;
	}
}

.l-price__inner__btn {

	@include respond(pc) {
		margin-top: 40px;
		width: 40%;
	}

	@include respond(xs) {
		margin-top: 24px;
		width: 90%;
	}
	
	
	@include center;
	

}
	

.l-price__inner {

	text-align: left;
	margin-top: 20px;
	
	@include respond(pc) {
		padding: 40px 8px 40px 8px;
		border-top: 1px solid $color-gray-f2;
	}

	@include respond(xs) {
		margin-top: 24px;
		padding-bottom: 16px;
	}
	

		
}