.l-related__cache {

	font-weight: bold;
	color: $color-main;
		
	@include respond(pc) {
		@include font-size(20);
		line-height: 1;
		margin-left:  1.61%;
		
	}

	@include respond(tb) {
		@include font-size(20);
		padding: 0 3.125% 0 3.125%;
	}

	@include respond(xs) {
		@include font-size(16);
		padding: 0 3.125% 0 3.125%;
	}	
}

.l-related__item__box {

	@include respond(pc) {
		background: #fff;
		@include widtnPercent( 618, 186 );
		margin: 0 1.61%;
	}

	@include respond(tb) {
		background: #fff;
		@include widtnPercent( 640, 640 );
		@include center;
		//margin: 0 1.61%;
		padding: 24px 6.125% 24px;
		border-top: 1px solid $color-gray-f5;
		
		&:first-child {
			border-top: none;
			padding-top: 0px;
		}
	}

	@include respond(xs) {
		background: #fff;
		@include center;
		border-top: 2px solid $color-gray-f5;
		padding-bottom: 24px;
		
		&:first-child {
			border-top: none;
		}
	}
}

.l-related__item {

		@include respond(pc){
			text-align: left;
			@include css3(display, flex);
			@include css3(flex-wrap, wrap);
			margin-top: 32px;
		}

		@include respond(tb) {
			margin-top: 16px;
			background: $color-gray-f5;
			padding-bottom: 24px;
		}

		@include respond(xs) {
			margin-top: 16px;
			padding: 12px 3.125%;
			background: #eee;
		}
}


.l-related__text {

	margin-top: 16px;

	@include respond(pc) {
		margin-left:  1.61%;
	}

	@include respond(tb) {
		margin-top: 4px;
		@include font-size(16);
		padding: 0 3.125% 0 3.125%;
	}

	@include respond(xs) {
		margin-top: 4px;
		padding: 0 3.125% 0 3.125%;
	}

	&--attention {
		@extend .l-related__text;
		color: $color-accent--red;

	}

}


.l-related {

	@include respond(pc) {
		position: relative;
		padding: 60px 0 0;
		@include widtnPercent( 640, 540 );
		max-width: 1100px;
		@include center;
		text-align: left;
		border-top: 1px solid $color-gray-f2;
	}

	@include respond(tb) {
		padding: 32px 0px 0px 0px;
	}

	@include respond(xs) {
		padding: 24px 0px 0px;
	}

}