.l-sidebar {
	@include respond(xs){
		background: $color-gray-f5;
	}
}

.l-sidebar__col {
	margin-top: 32px;

	&:first-child {
		margin-top: 0px;
	}
}

.l-sidebar__col__ttl {
	font-weight: bold;
	@include font-size(12);
	color: $color-gray-6;

	@include respond(xs){
		background: $color-main;
		padding: 4px 3.125%;
		margin: 0 3.125%;
		color: #fff;

	}
}

.l-sidebar__col__item {
	

	@include respond(pc){
		margin-top: 16px;
	}

	@include respond(xs){
		background: #fff;
		margin: 0 3.125%;
		padding-top: 16px;
	}

	&--list {
		@extend .l-sidebar__col__item;

		@include respond(xs){
			padding: 0px 3.125%;
		}
	}

}

.l-sidebar__col__item__list {

	@include respond(pc){
		margin-top: 24px;
	}

	@include respond(xs){
		border-top: 1px solid $color-gray-f2;
		padding: 16px 3.125%;
		width: 100%;
	}

	&:first-child {
		margin-top: 0px;
		border-top: none;

		@include respond(xs){
			padding-top: 0px;
		}

	}
}