
.l-title {
	width: 100%;
	text-alifn: center;
	
	@include respond(pc) {
		margin-top: 16px;
		display: table;
		height: 180px;
	}

	@include respond(xs) {
		margin-top: 8px;
	}
	
	&__item {

		@include respond(pc) {
			display: table-cell;
			vertical-align: middle;
		}

		@include respond(xs) {
			width: 100%;
			@include center;
			padding: 32px 0;
			background: $color-gray-f5;
		}
		
		&__inner {
			
			text-align: center;
			
			@include respond(pc) {
				width: 1080px;
				@include center;
			}

			
			&__ttl {
				text-align: center;
				@include font-size(32);
				font-weight: bold;
				
				@include respond(xs) {
					@include font-size(20);
				}
				
				
			}

			&__text {
				margin-top: 36px;
				
				@include respond(xs) {
					margin-top: 8px;
				}

			}
		
		}
		
	}
	

}